@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
  }
}


@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;

    /* Safari and Chrome */
    &::-webkit-scrollbar {
      display: none
    }
  }
  
  .scrollbar-default {
    /* IE and Edge */
    -ms-overflow-style: auto;

    /* Firefox */
    scrollbar-width: auto;

    /* Safari and Chrome */
    &::-webkit-scrollbar {
      display: 'block';
    }
  }
}

* {
  @apply
    scrollbar-hide;
}

html {
  /* Disable highlighting of elements on tap */
  -webkit-tap-highlight-color: transparent;
}

body, main {
  @apply
    w-full
    h-full
    relative;
}

/**
* Hide default Google reCAPTCHA badge.
* This is permitted according to Google's FAQ:
* https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed
*/
.grecaptcha-badge {
  visibility: hidden;
}

.bounded-page-content-x {
  @apply w-full max-w-7xl mx-auto px-2;
}

.bounded-card-content-x {
  @apply px-10;
}

.card-bg-primary {
  @apply bg-gray-100 dark:bg-gray-925;
}

.card-bg-secondary {
  @apply bg-gray-200 dark:bg-gray-900;
}

.card-text-primary {
  @apply text-gray-700 dark:text-gray-200;
}

.card-text-secondary {
  @apply text-gray-600 dark:text-gray-400;
}

.card-text-secondary-hover {
  @apply text-gray-600 dark:text-gray-400;
}