@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
  }
}


@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;

    /* Safari and Chrome */
    &::-webkit-scrollbar {
      display: none
    }
  }
  
  .scrollbar-default {
    /* IE and Edge */
    -ms-overflow-style: auto;

    /* Firefox */
    scrollbar-width: auto;

    /* Safari and Chrome */
    &::-webkit-scrollbar {
      display: 'block';
    }
  }
}

* {
  @apply
    scrollbar-hide;
}

html {
  /* Disable highlighting of elements on tap */
  -webkit-tap-highlight-color: transparent;
}

body, main {
  @apply
    w-full
    h-full
    relative;
}

/**
* Hide default Google reCAPTCHA badge.
* This is permitted according to Google's FAQ:
* https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed
*/
.grecaptcha-badge {
  visibility: hidden;
}

.bounded-page-content-x {
  @apply w-full max-w-6xl mx-auto px-2 box-border;
}

.bounded-card-content-x {
  @apply px-10;
}

.root-bg {
  @apply bg-gray-100 dark:bg-gray-950;
}

/* Hero text primary */

.hero-text-primary {
  @apply text-gray-850 dark:text-gray-100;
}

.hero-text-secondary {
  @apply text-gray-700 dark:text-gray-400;
}

/* Card background primary */

.card-bg-primary {
  @apply bg-gray-25 dark:bg-gray-925;
}

.card-bg-primary--hoverable {
  @apply hover:bg-white dark:hover:bg-gray-900;
}

/* Card background primary (light) */

.card-bg-primary-light {
  @apply bg-gray-25;
}

.card-bg-primary-light--hoverable {
  @apply hover:bg-gray-50;
}

/* Card background primary (dark) */

.card-bg-primary-dark {
  @apply bg-gray-925;
}

.card-bg-primary-dark--hoverable {
  @apply hover:bg-gray-950;
}

/* Card border primary */

.card-border-primary {
  @apply border border-gray-100/80 dark:border-gray-900;
}

.card-border-primary--hoverable {
  @apply hover:border-gray-25 dark:hover:border-gray-925;
}

/* Card border primary (light) */

.card-border-primary-light {
  @apply border border-gray-100/80;
}

.card-border-primary-light--hoverable {
  @apply hover:border-gray-25;
}

/* Card border primary (dark) */

.card-border-primary-light {
  @apply border border-gray-900;
}

.card-border-primary-light--hoverable {
  @apply hover:border-gray-925;
}

/* Card text primary */

.card-text-primary {
  @apply text-gray-700 dark:text-gray-200;
}

.card-text-primary--content {
  @apply text-gray-700/80 dark:text-gray-200/70;
}

/* Card text primary (light) */

.card-text-primary-light {
  @apply text-gray-700;
}

.card-text-primary-light--content {
  @apply text-gray-700/80;
}

/* Card text primary (dark) */

.card-text-primary-dark {
  @apply text-gray-200;
}

.card-text-primary-dark--content {
  @apply text-gray-200/70;
}

/* Card background secondary */

.card-bg-secondary {
  @apply bg-gray-75 dark:bg-gray-900;
}

.card-bg-secondary--hoverable {
  @apply hover:bg-gray-75 dark:hover:bg-gray-900;
}

/* Card background secondary (light) */

.card-bg-secondary-light {
  @apply bg-gray-75;
}

.card-bg-secondary-light--hoverable {
  @apply bg-gray-100;
}

/* Card background secondary (dark) */

.card-bg-secondary-dark {
  @apply bg-gray-900;
}

.card-bg-secondary-dark--hoverable {
  @apply hover:bg-gray-875;
}

/* Card border secondary */

.card-border-secondary {
  @apply border border-gray-100/80 dark:border-gray-875;
}

.card-border-secondary--light {
  @apply border border-gray-100/80;
}

.card-border-secondary--dark {
  @apply border border-gray-875;
}

/* Card text secondary */

.card-text-secondary {
  @apply text-gray-700 dark:text-gray-400;
}

.card-text-secondary--hoverable {
  @apply hover:text-gray-600 dark:hover:text-gray-500;
}

/* Card text secondary (light) */

.card-text-secondary-light {
  @apply text-gray-700;
}

.card-text-secondary-light--hoverable {
  @apply hover:text-gray-600;
}

/* Card text secondary (dark) */

.card-text-secondary-dark {
  @apply text-gray-400;
}

.card-text-secondary-dark--hoverable {
  @apply hover:text-gray-500;
}