/* Used with permission under the SIL Open Font License, v1.1.
Author: Chris Simpson.
https://github.com/chrismsimpson/Metropolis */

@font-face {
  font-family: 'Metropolis';
  font-weight: 100;
  font-style: normal;
  src:  local('Metropolis-Thin'),
        url(./WOFF2/Metropolis-Thin.woff2) format('woff2'),
        url(./WOFF/Metropolis-Thin.woff) format('woff'),
        url(./TrueType/Metropolis-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 100;
  font-style: italic;
  src:  local('Metropolis-ThinItalic'),
        url(./WOFF2/Metropolis-ThinItalic.woff2) format('woff2'),
        url(./WOFF/Metropolis-ThinItalic.woff) format('woff'),
        url(./TrueType/Metropolis-ThinItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 200;
  font-style: normal;
  src:  local('Metropolis-ExtraLight'),
        url(./WOFF2/Metropolis-ExtraLight.woff2) format('woff2'),
        url(./WOFF/Metropolis-ExtraLight.woff) format('woff'),
        url(./TrueType/Metropolis-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 200;
  font-style: italic;
  src:  local('Metropolis-ExtraLightItalic'),
        url(./WOFF2/Metropolis-ExtraLightItalic.woff2) format('woff2'),
        url(./WOFF/Metropolis-ExtraLightItalic.woff) format('woff'),
        url(./TrueType/Metropolis-ExtraLightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 300;
  font-style: normal;
  src:  local('Metropolis-Light'),
        url(./WOFF2/Metropolis-Light.woff2) format('woff2'),
        url(./WOFF/Metropolis-Light.woff) format('woff'),
        url(./TrueType/Metropolis-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 300;
  font-style: italic;
  src:  local('Metropolis-LightItalic'),
        url(./WOFF2/Metropolis-LightItalic.woff2) format('woff2'),
        url(./WOFF/Metropolis-LightItalic.woff) format('woff'),
        url(./TrueType/Metropolis-LightItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 400;
  font-style: normal;
  src:  local('Metropolis-Regular'),
        url(./WOFF2/Metropolis-Regular.woff2) format('woff2'),
        url(./WOFF/Metropolis-Regular.woff) format('woff'),
        url(./TrueType/Metropolis-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 400;
  font-style: italic;
  src:  local('Metropolis-RegularItalic'),
        url(./WOFF2/Metropolis-RegularItalic.woff2) format('woff2'),
        url(./WOFF/Metropolis-RegularItalic.woff) format('woff'),
        url(./TrueType/Metropolis-RegularItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 500;
  font-style: normal;
  src:  local('Metropolis-Medium'),
        url(./WOFF2/Metropolis-Medium.woff2) format('woff2'),
        url(./WOFF/Metropolis-Medium.woff) format('woff'),
        url(./TrueType/Metropolis-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 500;
  font-style: italic;
  src:  local('Metropolis-MediumItalic'),
        url(./WOFF2/Metropolis-MediumItalic.woff2) format('woff2'),
        url(./WOFF/Metropolis-MediumItalic.woff) format('woff'),
        url(./TrueType/Metropolis-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 600;
  font-style: normal;
  src:  local('Metropolis-SemiBold'),
        url(./WOFF2/Metropolis-SemiBold.woff2) format('woff2'),
        url(./WOFF/Metropolis-SemiBold.woff) format('woff'),
        url(./TrueType/Metropolis-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 600;
  font-style: italic;
  src:  local('Metropolis-SemiBoldItalic'),
        url(./WOFF2/Metropolis-SemiBoldItalic.woff2) format('woff2'),
        url(./WOFF/Metropolis-SemiBoldItalic.woff) format('woff'),
        url(./TrueType/Metropolis-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 700;
  font-style: normal;
  src:  local('Metropolis-Bold'),
        url(./WOFF2/Metropolis-Bold.woff2) format('woff2'),
        url(./WOFF/Metropolis-Bold.woff) format('woff'),
        url(./TrueType/Metropolis-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 700;
  font-style: italic;
  src:  local('Metropolis-BoldItalic'),
        url(./WOFF2/Metropolis-BoldItalic.woff2) format('woff2'),
        url(./WOFF/Metropolis-BoldItalic.woff) format('woff'),
        url(./TrueType/Metropolis-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 800;
  font-style: normal;
  src:  local('Metropolis-ExtraBold'),
        url(./WOFF2/Metropolis-ExtraBold.woff2) format('woff2'),
        url(./WOFF/Metropolis-ExtraBold.woff) format('woff'),
        url(./TrueType/Metropolis-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 800;
  font-style: italic;
  src:  local('Metropolis-ExtraBoldItalic'),
        url(./WOFF2/Metropolis-ExtraBoldItalic.woff2) format('woff2'),
        url(./WOFF/Metropolis-ExtraBoldItalic.woff) format('woff'),
        url(./TrueType/Metropolis-ExtraBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 900;
  font-style: normal;
  src:  local('Metropolis-Black'),
        url(./WOFF2/Metropolis-Black.woff2) format('woff2'),
        url(./WOFF/Metropolis-Black.woff) format('woff'),
        url(./TrueType/Metropolis-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 900;
  font-style: italic;
  src:  local('Metropolis-BlackItalic'),
        url(./WOFF2/Metropolis-BlackItalic.woff2) format('woff2'),
        url(./WOFF/Metropolis-BlackItalic.woff) format('woff'),
        url(./TrueType/Metropolis-BlackItalic.ttf) format('truetype');
}